.home {
    display: flex;
    flex-direction: column;
    
    &-bg {
        width: 100%;
        
        &-image {
            width: 100%;
            display: block;
        }
    }
    
    &-content {
        position: relative;
    }
}

