.recipes {
    text-align: center;
    overflow: auto;
  
    &-title {
        color: var(--coral);
    }
    
    &-wrapper {
        margin-top: 30px
    }
    
    &-data-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    &-view-all-btn {
        border: 25px;
        color: var(--white);
        background: var(--coral);
        text-decoration: none;
        padding: 15px;
    }
}