.recipes {
    text-align: center;
    background: var(--floral-white);
  
    &-title {
        color: var(--coral);
    }
    
    &-wrapper {
        margin-top: 30px;
    }
    
    &-data-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    &-btn {
        background: var(--coral);
        margin-top: 40px;
    }
}