.carousel {
    width: 100%;
    margin: 60px;
    display: flex;
    justify-content: center;
    
    &-cell {
        width: 200px;
        height: 200px;
        background: pink;
        border-radius: 25gpx;
        margin-right: 20px;
    }
}